target/
.idea/
.vscode/
*.iml
.DS_Store
*.log*
*.*~
.classpath
.project
lib/
/src/main/resources/configuration/run/debug.properties
allure-results/
.allure
/src/main/resources/configuration/env/ephemeral.properties
.settings
.factorypath
bin/

#QTest agent logs
/[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].txt